@page "/admin/account/edit/{Id:int}"
@using Affiliate.Application.Dtos
@using Affiliate.Application.Enums
@inject DatabaseContext DbContext
@inject NavigationManager NavigationManager
@attribute [Authorize(Policy = CustomPolicies.MasterAdminAccess)]

<PageTitle>@PageTitle</PageTitle>

<style>
    .select2-results{
        background: #fff;
    }
</style>

     <Toolbar PageTitle="@PageTitle" ToolbarItems="@ToolbarItems"></Toolbar>
 
<div class="card card-compact w-100 bg-base-100 shadow-xl">
    <div class="card-body">
        <div id="alert"></div>
        <form id="UserForm" method="post" 
              data-enhance name="UserForm" enctype="multipart/form-data">
            <input type="hidden" name="Id" value="@Form.Id"/>
            <div class="space-y-4">
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                    <InputText id="email" name="Email" @bind-Value="Form.Email" placeholder="Email" class="input input-bordered w-full max-w-xs"></InputText>
                </div>
                <div>
                    <label for="roleSelect" class="block text-sm font-medium text-gray-700">Roles</label>
                    <select id="roleSelect" name="Roles" class="select select-bordered">
                        @if (Roles.Any())
                        {
                            foreach (var role in Roles)
                            {
                                <option value="@role.Guid">@role.Name</option>
                            }
                        }
                    </select>
                    <input type="hidden" id="RolesString" value="@string.Join(",", Form.Roles)">
                </div>
                <div>
                    <button class="btn btn-neutral" type="button" onclick="submitForm()">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

<SectionContent SectionName="section-bottom">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script > 
        async function submitForm() {
            const form = document.getElementById('UserForm');
            const formData = new FormData(form);
            
            try {
                const response = await fetch('/api/account/edit', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.json().then(data => data);
                if (data.ok) {
                    globalCommons.CreateAlert('Form submitted successfully', 'success',document.querySelector('#alert'));
                } else {
                    globalCommons.CreateAlert('Form submitted failed', 'error',document.querySelector('#alert'));
                }
            } catch (error) {
                console.error('An error occurred during form submission:', error);
            }
        }
        function getRoles(){
            const roles = $('#RolesString').val();
            return roles.split(",");
        }
        $(function () {
            $('#roleSelect').select2({
                selectionCssClass: 'input input-bordered w-full max-w-xs h-fit',
                dropdownCssClass: 'input input-bordered w-full max-w-xs',
                multiple: true,
                placeholder: 'Select roles',
                allowClear: true,
                width: '100%',
            }).val(getRoles()).trigger('change');
           
            $('#UserForm').on('submit', async function (e) {
                //await submitForm();
            })
        })
    </script>
</SectionContent>

@code {
    [Parameter] public int Id { get; set; } = 1;
    [SupplyParameterFromForm] public UserPostFormDto? Form { get; set; }
    private IEnumerable<Role> Roles { get; set; }
    private string PageTitle { get; set; }

    private List<ToolbarItem> ToolbarItems { get; set; } =
    [
        new ToolbarItem { Href = "/admin/account/create", Text = "Add Account", ClassList = "btn btn-primary" },
        new ToolbarItem { Href = "/admin/account", Text = "Back to Accounts List", ClassList = "btn btn-neutral" }
    ];

    protected override void OnInitialized()
    {
        Form ??= new();
        Roles = DbContext.Roles.OrderBy(p => p.Id).ToList();
    }

    protected override void OnParametersSet()
    {
        var user = DbContext.Users.Find(Id);
        if (user == null)
        {
            NavigationManager.NavigateTo("/admin/account");
        }
        else
        {
            var userRoles = (from ur in DbContext.UserRoles
                join r in DbContext.Roles on ur.RoleId equals r.Guid
                where ur.UserId == user.Guid
                select r).ToList();
            Form.Id ??= user.Id;
            Form.Name ??= user.Name;
            Form.Email ??= user.Email;
            Form.Points ??= user.Points;
            Form.Roles ??= userRoles.Select(p => p.Guid).ToList();
        }

        PageTitle = $"Edit Account {Form.Name}";

        Roles = DbContext.Roles.OrderBy(p => p.Id).ToList();
    }

    private async Task Submit()
    {
        var name = Form?.Name;
        var email = Form?.Email;
        var id = Form?.Id;
        var points = Form?.Points;
        var roles = Form?.Roles;
        var rolesString = Form?.RolesString;
        //get value of #RolesString use Jsruntime
        if (Form?.File != null)
        {
            var file = Form.File;
            //var path = Path.Combine("wwwroot", "images", file.FileName);
            //using var stream = new FileStream(path, FileMode.Create);
            //file.CopyTo(stream);
        }
    }

}

@*
@code {
    [Parameter] public int Id { get; set; } = 1;
    private string Name { get; set; }

    [SupplyParameterFromForm] 
    public User1? EditUser { get; set; } = new();

    protected override void OnParametersSet()
    {
        var user = DbContext.Users.Find(Id);
        if (user == null)
        {
            NavigationManager.NavigateTo("/admin/account");
        }
        else
        {
            EditUser.Id = user.Id;
            EditUser.Name = user.Name;
            EditUser.Email = user.Email;
        }
    }

    private void HandleValidSubmit()
    {
        //get form
        string newMail = EditUser.Email;
        Name = "Success " + newMail;
    }

    public class User1
    {
        public string Email { get; set; }
        public string Name { get; set; }
        public int Id { get; set; }
    }
}

<h3>Edit @EditUser.Email</h3>
@if (!string.IsNullOrEmpty(Name))
{
    <h1>@Name</h1>
    <h2>@EditUser.Email</h2>
}

<EditForm Enhance Model="EditUser" FormName="EditUserForm" OnSubmit="HandleValidSubmit">
    <div>
        <InputText type="email" @bind-Value="EditUser.Email" placeholder="Email" 
                   class="input input-bordered w-full max-w-xs"/>
    </div>
    <div>
     </div>
    <button type="submit" class="btn btn-primary">Submit</button> 
</EditForm>*@